In [24]:
### Importing libraries and necessary resources
import pandas as pd
import numpy as np
import plotly.express as px
import seaborn as sns
import pandas as pd
import plotly.graph_objects as go
import matplotlib.pyplot as plt

colnames=['Year', 'Country']
df = pd.read_csv("attacks.csv",encoding = "ISO-8859-1") #To load the data csv
campeonas = pd.read_csv("campeonas.csv", names=colnames, header=None,encoding = "ISO-8859-1")
sns.set_context("poster")
sns.set(rc={"figure.figsize": (12.,6.)})
sns.set_style("whitegrid")

In [25]:
df.shape

(25723, 24)

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

In [27]:
df["Activity"]

0           Paddling
1           Standing
2            Surfing
3            Surfing
4        Free diving
            ...
25718            NaN
25719            NaN
25720            NaN
25721            NaN
25722            NaN
Name: Activity, Length: 25723, dtype: object

In [28]:
df[["Activity","Area"]].head()

      Activity             Area
0     Paddling       California
1     Standing          Georgia
2      Surfing           Hawaii
3      Surfing  New South Wales
4  Free diving           Colima

In [29]:
df.Activity.unique()

array(['Paddling', 'Standing', 'Surfing', ...,
       'Crew swimming alongside their anchored ship',
       '4 men were bathing', 'Wreck of  large double sailing canoe'],
      dtype=object)

In [30]:
df.Country.unique()

array(['USA', 'AUSTRALIA', 'MEXICO', 'BRAZIL', 'ENGLAND', 'SOUTH AFRICA',
       'THAILAND', 'COSTA RICA', 'MALDIVES', 'BAHAMAS', 'NEW CALEDONIA',
       'ECUADOR', 'MALAYSIA', 'LIBYA', nan, 'CUBA', 'MAURITIUS',
       'NEW ZEALAND', 'SPAIN', 'SAMOA', 'SOLOMON ISLANDS', 'JAPAN',
       'EGYPT', 'ST HELENA, British overseas territory', 'COMOROS',
       'REUNION', 'FRENCH POLYNESIA', 'UNITED KINGDOM',
       'UNITED ARAB EMIRATES', 'PHILIPPINES', 'INDONESIA', 'CHINA',
       'COLUMBIA', 'CAPE VERDE', 'Fiji', 'DOMINICAN REPUBLIC',
       'CAYMAN ISLANDS', 'ARUBA', 'MOZAMBIQUE', 'FIJI', 'PUERTO RICO',
       'ITALY', 'ATLANTIC OCEAN', 'GREECE', 'ST. MARTIN', 'FRANCE',
       'PAPUA NEW GUINEA', 'TRINIDAD & TOBAGO', 'KIRIBATI', 'ISRAEL',
       'DIEGO GARCIA', 'TAIWAN', 'JAMAICA', 'PALESTINIAN TERRITORIES',
       'GUAM', 'SEYCHELLES', 'BELIZE', 'NIGERIA', 'TONGA', 'SCOTLAND',
       'CANADA', 'CROATIA', 'SAUDI ARABIA', 'CHILE', 'ANTIGUA', 'KENYA',
       'RUSSIA', 'TURKS & CAICOS', 'UNITED ARAB EMIRATES (UAE)', 'AZORES',
       'SOUTH KOREA', 'MALTA', 'VIETNAM', 'MADAGASCAR', 'PANAMA',
       'SOMALIA', 'NEVIS', 'BRITISH VIRGIN ISLANDS', 'NORWAY', 'SENEGAL',
       'YEMEN', 'GULF OF ADEN', 'Sierra Leone', 'ST. MAARTIN',
       'GRAND CAYMAN', 'Seychelles', 'LIBERIA', 'VANUATU', 'MEXICO ',
       'HONDURAS', 'VENEZUELA', 'SRI LANKA', ' TONGA', 'URUGUAY', 'INDIA',
       'MICRONESIA', 'CARIBBEAN SEA', 'OKINAWA', 'TANZANIA',
       'MARSHALL ISLANDS', 'EGYPT / ISRAEL', 'NORTHERN ARABIAN SEA',
       'HONG KONG', 'EL SALVADOR', 'ANGOLA', 'BERMUDA', 'MONTENEGRO',
       'IRAN', 'TUNISIA', 'NAMIBIA', 'NORTH ATLANTIC OCEAN', 'PORTUGAL',
       'SOUTH CHINA SEA', 'BANGLADESH', 'PALAU', 'WESTERN SAMOA',
       'PACIFIC OCEAN ', 'BRITISH ISLES', 'GRENADA', 'IRAQ', 'TURKEY',
       'SINGAPORE', 'NEW BRITAIN', 'SUDAN', 'JOHNSTON ISLAND',
       'SOUTH PACIFIC OCEAN', 'NEW GUINEA', 'RED SEA',
       'NORTH PACIFIC OCEAN', 'FEDERATED STATES OF MICRONESIA',
       'MID ATLANTIC OCEAN', 'ADMIRALTY ISLANDS', 'BRITISH WEST INDIES',
       'SOUTH ATLANTIC OCEAN', 'PERSIAN GULF', 'RED SEA / INDIAN OCEAN',
       'PACIFIC OCEAN', 'NORTH SEA', 'NICARAGUA ', 'MALDIVE ISLANDS',
       'AMERICAN SAMOA', 'ANDAMAN / NICOBAR ISLANDAS', 'GABON', 'MAYOTTE',
       'NORTH ATLANTIC OCEAN ', 'THE BALKANS', 'SUDAN?', 'ARGENTINA',
       'MARTINIQUE', 'INDIAN OCEAN', 'GUATEMALA', 'NETHERLANDS ANTILLES',
       'NORTHERN MARIANA ISLANDS', 'IRAN / IRAQ', 'JAVA', 'SIERRA LEONE',
       ' PHILIPPINES', 'NICARAGUA', 'CENTRAL PACIFIC',
       'SOLOMON ISLANDS / VANUATU', 'SOUTHWEST PACIFIC OCEAN',
       'BAY OF BENGAL', 'MID-PACIFC OCEAN', 'SLOVENIA', 'CURACAO',
       'ICELAND', 'ITALY / CROATIA', 'BARBADOS', 'MONACO', 'GUYANA',
       'HAITI', 'SAN DOMINGO', 'IRELAND', 'KUWAIT', 'YEMEN ',
       'REUNION ISLAND', 'FALKLAND ISLANDS', 'CRETE', 'CYPRUS', 'EGYPT ',
       'WEST INDIES', 'BURMA', 'LEBANON', 'PARAGUAY',
       'BRITISH NEW GUINEA', 'CEYLON', 'OCEAN', 'GEORGIA', 'SYRIA',
       'TUVALU', 'INDIAN OCEAN?', 'GUINEA', 'ANDAMAN ISLANDS',
       'EQUATORIAL GUINEA / CAMEROON', 'COOK ISLANDS', 'TOBAGO', 'PERU',
       'AFRICA', 'ALGERIA', 'Coast of AFRICA', 'TASMAN SEA', 'GHANA',
       'GREENLAND', 'MEDITERRANEAN SEA', 'SWEDEN', 'ROATAN',
       'Between PORTUGAL & INDIA', 'DJIBOUTI', 'BAHREIN', 'KOREA',
       'RED SEA?', 'ASIA?', 'CEYLON (SRI LANKA)'], dtype=object)

In [85]:
#### Limpia de los datos relacionados con USA

In [31]:
"""
Identificando que hay suficiente información en la muestra 
y creando un nuevo dataframe para trabajar sobre él
"""
surf_usa = df[(df.Country=="USA")&(df.Activity == "Surfing" )]
surf_usa.shape

(564, 24)

In [32]:
surf_usa.count()

Case Number               564
Date                      564
Year                      564
Type                      564
Country                   564
Area                      564
Location                  560
Activity                  564
Name                      557
Sex                       545
Age                       476
Injury                    560
Fatal (Y/N)               538
Time                      454
Species                   332
Investigator or Source    562
pdf                       564
href formula              564
href                      564
Case Number.1             564
Case Number.2             564
original order            564
Unnamed: 22                 1
Unnamed: 23                 0
dtype: int64

In [33]:
#Elimino columnas sin información
surf_usa.drop(["Unnamed: 22","Unnamed: 23"],axis=1,inplace = True)
display(surf_usa)

/home/luisserrano/.local/lib/python3.8/site-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0
53,2017.12.31,31-Dec-2017,2017.0,Unprovoked,USA,Hawaii,"Hultin's Beach, Oahu",Surfing,Marjorie Mariano,F,...,N,18h00,Tiger shark,"J. Howard, Surfling Now, 1/2/2018",2017.12.31-Mariano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.12.31,2017.12.31,6250.0
54,2017.12.30,30-Dec-2017,2017.0,Unprovoked,USA,California,"Drakes Estero, Point Reyes, Marin County",Surfing,Natalie Jones,F,...,N,12h00,NaN,R. Collier,2017.12.30.Jones.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.12.30,2017.12.30,6249.0
61,2017.11.18,18-Nov-2017,2017.0,Unprovoked,USA,Florida,"Floridana Beach, Brevard County",Surfing,Kaia Anderson,F,...,N,Late afternoon,NaN,"Florida Today, 11/21/2017",2017.11.18-Anderson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.11.18,2017.11.18,6242.0
74,2017.10.09,09-Oct-2017,2017.0,Unprovoked,USA,Hawaii,"Davidsons Beach, Kekaha, Kauai",Surfing,Mitch Milan,M,...,N,18h30,"Tiger shark, 8 to 10 feet","Hawaii News Now, 10/10/2017",2017.10.09-Milan.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.10.09,2017.10.09,6229.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3643,1965.00.00.f,1965,1965.0,Provoked,USA,California,"Dana Point, San Clemente, Orange County",Surfing,Barry Berg,M,...,N,NaN,NaN,"Orange County Register, 1/28/2998",1965.00.00.f-Berg.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1965.00.00.f,1965.00.00.f,2660.0
4284,1955.08.30.a,30-Aug-1955,1955.0,Provoked,USA,California,"Zuma Beach, Santa Monica, Los Angeles County",Surfing,Dale Strand,M,...,N,NaN,5' thresher or blue shark. The shark was kill...,"SAF Case #244; D. Miller & R. Collier, V.M. Co...",1955.08.30.a-DaleStrand.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1955.08.30.a,1955.08.30.a,2019.0
6097,1828.00.00,1828,1828.0,Unprovoked,USA,Hawaii,"Uo, Lahaina, Maui",Surfing,Male,M,...,Y,NaN,NaN,"J. Borg, p.68; L. Taylor (1993), pp.94-95",1828.00.00-male.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1828.00.00,1828.00.00,206.0
6143,1779.00.00,1779,1779.0,Unprovoked,USA,Hawaii,"Maliu, Hawai'i",Surfing,Nu'u-anu-pa'a hu,M,...,Y,NaN,NaN,"G.H. Balazs; J. Borg, p.68; L. Taylor (1993), ...",1779.00.00-Hawaii.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1779.00.00,1779.00.00,160.0
6201,ND-0122,Beforer 1994,0.0,Unprovoked,USA,Florida,"Lost Tree Village, Palm Beach County",Surfing,C.M,M,...,N,NaN,NaN,"M. Vorenberg, GSAF",ND-0122-CM.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND-0122,ND-0122,102.0

In [34]:
#Analizo la columna Type para revisar el tipo de ataques
surf_usa.loc[surf_usa["Type"] == "Unprovoked"].sample(20)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
522,2014.08.02,02-Aug-2014,2014.0,Unprovoked,USA,Florida,"South of Cocoa Beach, Brevard County",Surfing,male,M,...,N,NaN,NaN,"Florida Today, 8/8/2014",2014.08.08-CocoaBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2014.08.02,2014.08.02,5781.0
1470,2006.06.20,20-Jun-2006,2006.0,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Elizabeth Schelk,F,...,N,13h00,Possibly a 1' to 3' blacktip or spinner shark,"S. Petersohn, GSAF; P. Immerz",2006.06.20-Schelk.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2006.06.20,2006.06.20,4833.0
2220,1997.10.21,21-Oct-1997,1997.0,Unprovoked,USA,Florida,"North Jetty, Fort Pierce Inlet State Park, St....",Surfing,Jacob McBee,M,...,N,18h00,1.2 m to 1.5 m [4' to 5'] shark,"Fort Pierce News, 10/24/1997, p.A2",1997.10.21-McBee.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1997.10.21,1997.10.21,4083.0
3227,1975.05.25,25-May-1975,1975.0,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Edward Bassett,M,...,N,10h00,NaN,"Sumter Daily Item, 7/9/1975",1975.05.25-Bassett.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1975.05.25,1975.05.25,3076.0
2795,1986.12.11,11-Dec-1986,1986.0,Unprovoked,USA,Florida,"Ponce Inlet, New Smyrna Beach, Volusia County",Surfing,Bob Earnhardt,M,...,N,14h00,1.8 m to 2.1 m [6' to 7'] spinner or blacktip ...,"Orlando Sentinel, 12/12/1986, p.A1",1986.12.11-Earnhardt.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1986.12.11,1986.12.11,3508.0
1957,2001.04.12.c,12-Apr-2001,2001.0,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Emmet Browning,M,...,N,16h05,Possibly a juvenile blacktip or spinner shark,"S. Petersohn, GSAF; Orlando Sentinel, 4/14/200...",2001.04.12.c-Browning.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2001.04.12.c,2001.04.12.c,4346.0
826,2012.01.13,13-Jan-2012,2012.0,Unprovoked,USA,Oregon,"Lincoln City, Lincoln County",Surfing,Steve Harnack,M,...,N,NaN,White shark,R. Collier,2012.01.13-Harnack.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2012.01.13,2012.01.13,5477.0
2433,1994.05.31.b,31-May-1994,1994.0,Unprovoked,USA,Florida,"Ponce Inlet, Volusia County",Surfing,Steve Polack,M,...,N,10h30,NaN,"C. Lancaster, Orlando Sentinel, 6/1/1994, p.C1",1994.05.31.b-Polack.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1994.05.31.b,1994.05.31.b,3870.0
61,2017.11.18,18-Nov-2017,2017.0,Unprovoked,USA,Florida,"Floridana Beach, Brevard County",Surfing,Kaia Anderson,F,...,N,Late afternoon,NaN,"Florida Today, 11/21/2017",2017.11.18-Anderson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.11.18,2017.11.18,6242.0
2177,1998.07.25,25-Jul-1998,1998.0,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Michael Rinto,M,...,N,P.M.,NaN,"S. Petersohn, GSAF; Orlando Sentinel, 7/24/199...",1998.07.25-Rinto.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1998.07.25,1998.07.25,4126.0
1921,2001.08.18.c,18-Aug-2001,2001.0,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Jeff White,M,...,N,12h30,Possibly a blacktip or spinner shark,"S. Petersohn, GSAF; Orlando Sentinel, 8/20/200...",2001.08.18.c-White.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2001.08.18.c,2001.08.18.c,4382.0
868,2011.09.11.b,11-Sep-2011,2011.0,Unprovoked,USA,California,"Samoa Beach, Humboldt County",Surfing,Benjie Rose,M,...,N,12h20,NaN,R. Collier,2011.09.11.b-Benji-Rose.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2011.09.11.b,2011.09.11.b,5435.0
2272,1996.11.18,18-Nov-1996,1996.0,Unprovoked,USA,Florida,"Coral Cove Park, Palm Beach County",Surfing,Adam Urban,M,...,N,17h00,NaN,"Jupiter Courier, 11/20/1996",1996.11.18-Urban.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1996.11.18,1996.11.18,4031.0
2337,1995.09.30.b,30-Sep-1995,1995.0,Unprovoked,USA,Florida,"Crescent Beach, St. Augustine, St. Johns County",Surfing,Jon Grace,M,...,N,Morning,1.5 to 1.8 m [5' to 6'] shark,"St. Petersburg Times, 10/3/1995",1995.09.30.b-Grace.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1995.09.30.b,1995.09.30.b,3966.0
737,2012.09.24,24-Sep-2012,2012.0,Unprovoked,USA,Florida,"Spanish House Beach, Brevard County",Surfing,Brandon Murray,M,...,N,Afternoon,4' shark,"TC Palm, 9/26/2012",2012.09.24-Murray.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2012.09.24,2012.09.24,5566.0
1205,2008.09.08,08-Sep-2008,2008.0,Unprovoked,USA,California,"Surf Beach, Lompoc, Santa Barbara County",Surfing,Kyle K.,M,...,N,10h30,"White shark, 14' to 16'",R. Collier,2008.09.08-Kyle.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2008.09.08,2008.09.08,5098.0
1264,2008.04.28.a,28-Apr-2008,2008.0,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,David Alger,M,...,N,11h45,4' shark,S. Petersohn,2008.04.28.a-Alger.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2008.04.28.a,2008.04.28.a,5039.0
1286,2008.03.07,07-Mar-2008,2008.0,Unprovoked,USA,California,"Huntington Beach, Orange County",Surfing,Thomas Larkin,M,...,N,08h00,White shark,R. Collier,2008.03.07-Larkin.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2008.03.07,2008.03.07,5017.0
723,2012.11.19,19-Nov-2012,2012.0,Unprovoked,USA,Florida,"Melbourne Beach, Brevard County",Surfing,Kai Rittgers,M,...,N,17h30,2' to 3' shark,"Florida Today, 11/19/2012",2012.11.19-Rittgers.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2012.11.19,2012.11.19,5580.0
1742,2003.09.14.c,14-Sep-2003,2003.0,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Jason Williams,M,...,N,16h14,3' shark,"S. Petersohn, GSAF",2003.09.14.c-JasonWilliams.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2003.09.14.c,2003.09.14.c,4561.0

In [35]:
#Utilizo unique para saber los valores únicos de la columna Year y poder depurarla
surf_usa["Year"].unique()

array([2018., 2017., 2016., 2015., 2014., 2013., 2012., 2011., 2010.,
       2009., 2008., 2007., 2006., 2005., 2004., 2003., 2002., 2001.,
       2000., 1999., 1998., 1997., 1996., 1995., 1994., 1993., 1992.,
       1991., 1990., 1989., 1988., 1987., 1986., 1985., 1984., 1983.,
       1982., 1981., 1980., 1979., 1978., 1977., 1976., 1975., 1974.,
       1973., 1972., 1971., 1970., 1969., 1968., 1967., 1965., 1955.,
       1828., 1779.,    0.])

In [36]:
#Confirmo los valores que no me valen para el estudio y los elimino por ser muy antiguos.
surf_usa.loc[surf_usa["Year"] == 0].sample(1)
surf_usa.loc[surf_usa["Year"] == 1779].sample()
surf_usa.loc[surf_usa["Year"] == 1828].sample(1)
surf_usa.drop([6201],axis=0,inplace=True)
surf_usa.drop([6097],axis=0,inplace=True)
surf_usa.drop([6143],axis=0,inplace=True)

/home/luisserrano/.local/lib/python3.8/site-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [37]:
#Reviso la columna Fatal (Y/N) ya que creo que puede ser interesante.
surf_usa["Fatal (Y/N)"].unique()

array(['N', nan, 'Y', 'UNKNOWN'], dtype=object)

In [38]:
#Cambio el nombre de la columna
surf_usa.rename(columns={"Fatal (Y/N)":"Fatal"},inplace=True)
surf_usa["Fatal"].unique()

/home/luisserrano/.local/lib/python3.8/site-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

array(['N', nan, 'Y', 'UNKNOWN'], dtype=object)

In [65]:
surf_usa.loc[surf_usa["Fatal"] == "UNKNOWN"].sample(3)
surf_usa["Fatal"].isna().sum()

26

In [67]:
#Completo las casillas vacías con un valor para ubicarlos y uso str.replace con el mismo valor
surf_usa['Fatal'] = surf_usa['Fatal'].fillna('U')
surf_usa['Fatal'] = surf_usa['Fatal'].str.replace('UNKNOWN', 'U')

<ipython-input-67-916d0350b5ea>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  surf_usa['Fatal'] = surf_usa['Fatal'].fillna('U')
<ipython-input-67-916d0350b5ea>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  surf_usa['Fatal'] = surf_usa['Fatal'].str.replace('UNKNOWN', 'U')

In [68]:
#Reviso la acción anterior, dejnado la columna con solo tres valores posibles
surf_usa["Fatal"].unique()

array(['N', 'U', 'Y'], dtype=object)

In [70]:
#Reviso los valores de la columna "Sex " ya que me va a servir para la segunda hipótesis
surf_usa["Sex "].unique()

array(['M', 'F', nan, 'lli'], dtype=object)

In [71]:
#Corrijo el nombre de la columna
surf_usa.rename(columns={"Sex ":"Sex"},inplace=True)

/home/luisserrano/.local/lib/python3.8/site-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [74]:
#Corrijo los valores que no conocemos para que tengan el mismo nombre 
surf_usa['Sex'] = surf_usa['Sex'].fillna('U')
surf_usa['Sex'] = surf_usa['Sex'].str.replace('lli', 'U')

<ipython-input-74-847bf6901614>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  surf_usa['Sex'] = surf_usa['Sex'].fillna('U')
<ipython-input-74-847bf6901614>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  surf_usa['Sex'] = surf_usa['Sex'].str.replace('lli', 'U')

In [75]:
#Reviso que la acción anterior está bien ejecutada.
surf_usa["Sex"].unique()

array(['M', 'F', 'U'], dtype=object)

In [78]:
#### Limpia de datos referentes a Australia

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Fatal,Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
265,2016.06.07,07-Jun-2016,2016.0,Invalid,USA,South Carolina,"Folly Beach, Charleston County",Surfing,Jack O'Neill,M,...,U,11h30,Said to involve an 8' shark but more likely da...,"C. Creswell, GSAF",2016.06.07-Oneill.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.06.07,2016.06.07,6038.0
2454,1994.01.31.a,31-Jan-1994,1994.0,Unprovoked,USA,Hawaii,"Velzyland, north shore of O'ahu",Surfing,Jim Broach,M,...,Y,NaN,Tiger shark,"G. Balazs; Allen, p.109",1994.01.31.a-Broach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1994.01.31.a,1994.01.31.a,3849.0
1312,2007.11.04,04-Nov-2007,2007.0,Unprovoked,USA,Florida,"Round Island Park, Indian River County",Surfing,Jeffrey Nolan,M,...,N,09h00,5' shark,"T.C. Palm, 11/4/2007 & 11/5/2007",2007.11.04-Nolan.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2007.11.04,2007.11.04,4991.0
1532,2005.11.02.a,02-Nov-2005,2005.0,Unprovoked,USA,California,"Ocean Beach, San Francisco, San Francisco County",Surfing,Jake Daneman,M,...,N,07h15,12' to 14' white shark,"R. Collier, GSAF",2005.11.02.a-Daneman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2005.11.02.a,2005.11.02.a,4771.0
1537,2005.10.19,19-Oct-2005,2005.0,Unprovoked,USA,California,"Salmon Beach, Sonoma County",Surfing,Megan Halavais,F,...,N,10h30,18' white shark,"R. Collier, GSAF; Bay City Newswire",2005.10.19-Halavais.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2005.10.19,2005.10.19,4766.0
2988,1982.02.27,27-Feb-1982,1982.0,Unprovoked,USA,Florida,"Hobe Sound, Palm Beach County",Surfing,Richard Bauer,M,...,N,NaN,4' to 5' shark,"Palm Beach Post, 3/2/1982",1982.02.27-Bauer.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1982.02.27,1982.02.27,3315.0
2225,1997.09.08,08-Sep-1997,1997.0,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,U,...,N,Evening,small blacktip shark,"Daytona News-Journal, 9/9/1997",1997.09.08-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1997.09.08,1997.09.08,4078.0
1742,2003.09.14.c,14-Sep-2003,2003.0,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Jason Williams,M,...,N,16h14,3' shark,"S. Petersohn, GSAF",2003.09.14.c-JasonWilliams.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2003.09.14.c,2003.09.14.c,4561.0
1520,2005.11.29.R,Reported 29-Nov-2005,2005.0,Unprovoked,USA,Florida,"Cape San Blas, Gulf County",Surfing,John Larsen,M,...,N,NaN,NaN,wpmi.com,2005.11.29.R-Larsen.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2005.11.29.R,2005.11.29.R,4783.0
2227,1997.08.30,30-Aug-1997,1997.0,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chris Hoyas,M,...,N,13h00,NaN,"S. Petersohn, GSAF",1997.08.30-Hoyas.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1997.08.30,1997.08.30,4076.0

In [57]:
# Declaro un nuevo set para comparar los datos de usa con los de Australia
surf_aus = df[(df.Country=="AUSTRALIA")&(df.Activity == "Surfing" )]
surf_aus.shape

(195, 24)

In [58]:
#Borro las columnas que no tienen información
surf_aus.drop(["Unnamed: 22","Unnamed: 23"],axis=1,inplace = True)
display(surf_aus)

/home/luisserrano/.local/lib/python3.8/site-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0
16,2018.05.09,09-May-2018,2018.0,Questionable,AUSTRALIA,New South Wales,"Sharpes Beach, Ballina",Surfing,male,M,...,N,10h30,Shark involvement not confirmed,"B. Myatt, GSAF",2018.05.09-SharpesBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.09,2018.05.09,6287.0
19,2018.04.28.a,28-Apr-2018,2018.0,Unprovoked,AUSTRALIA,Western Australia,Gearys Beach,Surfing,Adam Murray,M,...,N,16h50,NaN,"B. Myatt, GSAF",2018.04.28.a-Murray.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.04.28.a,2018.04.28.a,6284.0
20,2018.04.25.b,25-Apr-2018,2018.0,Questionable,AUSTRALIA,New South Wales,Lennox Head,Surfing,Matthew Lee,M,...,N,07h00,Questionable,"B. Myatt, GSAF",2018.04.25.b-Lee.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.04.25.b,2018.04.25.b,6283.0
21,2018.04.25.a,25-Apr-2018,2018.0,Unprovoked,AUSTRALIA,Western Australia,"Surfers Point, Prevelly",Surfing,Rob Bruce,M,...,N,09h30,3 m shark,"B.Myatt, GSAF",2018.04.25.a-Bruce.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.04.25.a,2018.04.25.a,6282.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4657,1944.01.14,14-Jan-1944,1944.0,Unprovoked,AUSTRALIA,New South Wales,"First Beach, Forster",Surfing,Peter Weir,M,...,N,17h00,NaN,"G.P. Whitley (1951), p.193, cites Daily Mirror...",1944.01.14-Weir.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1944.01.14,1944.01.14,1646.0
4890,1936.01.05,05-Jan-1936,1936.0,Invalid,AUSTRALIA,Queensland,"Main Beach, Southport",Surfing,Kevin Canavan,M,...,NaN,NaN,Shark involvement prior to death was not confi...,"Canberra Times, 1/7/1936; V.M. Coppleson, p.92-93",1936.01.05-Canavan.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1936.01.05,1936.01.05,1413.0
4917,1935.03.11,11-Mar-1935,1935.0,Unprovoked,AUSTRALIA,New South Wales,Newcastle,Surfing,Eric McMichael,M,...,N,NaN,NaN,"Sydney Morning Herald, 3/11/1935",1935.03.11-McMichael.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1935.03.11,1935.03.11,1386.0
5235,1922.01.04,04-Jan-1922,1922.0,Unprovoked,AUSTRALIA,New South Wales,"Stockton Beach, Newcastle",Surfing,John Manning Rowe,M,...,Y,Evening,NaN,"The Argus, 1/9/1922; V.M. Coppleson (1933), N15",1922.01.04-JManningRowe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1922.01.04,1922.01.04,1068.0
5280,1918.03.22,22-Mar-1918,1918.0,Unprovoked,AUSTRALIA,New South Wales,Newcastle,Surfing,Arthur Cook,M,...,N,18h00,12' shark,"The Advertiser, 3/25/1918",1918.03.22-Cook.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1918.03.22,1918.03.22,1023.0

In [59]:
#Modifico el nombre de la columna Fatal (Y/N)
surf_aus.rename(columns={"Fatal (Y/N)":"Fatal"},inplace=True)

/home/luisserrano/.local/lib/python3.8/site-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [60]:
#Modifico los valores vacíos y los UNKNOWN a una variable que conocemos.
surf_aus['Fatal'] = surf_aus['Fatal'].fillna('U')
surf_aus['Fatal'] = surf_aus['Fatal'].str.replace('UNKNOWN', 'U')

<ipython-input-60-ae72b4437eb0>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  surf_aus['Fatal'] = surf_aus['Fatal'].fillna('U')
<ipython-input-60-ae72b4437eb0>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  surf_aus['Fatal'] = surf_aus['Fatal'].str.replace('UNKNOWN', 'U')

In [61]:
#Revisamos que se ha realizado correctamente.
surf_aus["Fatal"].unique()

array(['N', 'Y', 'U'], dtype=object)

In [80]:
#Reviso los valores de la columna "Sex "
surf_aus["Sex "].unique()

array(['M', 'F', nan], dtype=object)

In [81]:
#Corrijo el nombre de la columna
surf_aus.rename(columns={"Sex ":"Sex"},inplace=True)

/home/luisserrano/.local/lib/python3.8/site-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [82]:
#Modifico los valores vacíos por un valor conocido
surf_aus['Sex'] = surf_aus['Sex'].fillna('U')

<ipython-input-82-80c0f0b513b3>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  surf_aus['Sex'] = surf_aus['Sex'].fillna('U')

In [83]:
#Revisamos que se ha realizado correctamente.
surf_aus["Sex"].unique()

array(['M', 'F', 'U'], dtype=object)

In [84]:
#### Limpia Dataset importado para comprobar las hipótesis

In [62]:
#Revisamos el dataset que hemos importado de excel sobre el que vamos a contrastar los datos.
display(campeonas)

        Year  Country
0   2019;USA      NaN
1   2018;AUS      NaN
2   2017;AUS      NaN
3   2016;AUS      NaN
4   2015;USA      NaN
5   2014;AUS      NaN
6   2013;USA      NaN
7   2012;AUS      NaN
8   2011;USA      NaN
9   2010;AUS      NaN
10  2009;AUS      NaN
11  2008;AUS      NaN
12  2007;AUS      NaN
13  2006;AUS      NaN
14  2005;AUS      NaN
15  2003;AUS      NaN
16  2002;AUS      NaN
17  2001;AUS      NaN
18  2000;AUS      NaN
19  1999;AUS      NaN
20  1998;AUS      NaN
21  1997;USA      NaN
22  1996;USA      NaN
23  1995;USA      NaN
24  1994;USA      NaN
25  1993;AUS      NaN
26  1992;AUS      NaN
27  1991;AUS      NaN
28  1990;AUS      NaN
29  1989;AUS      NaN
30  1988;AUS      NaN
31  1987;AUS      NaN
32  1986;AUS      NaN
33  1985;AUS      NaN
34  1984;AUS      NaN
35  1982;USA      NaN
36  1981;USA      NaN
37  1980;USA      NaN
38  1979;USA      NaN
39  1978;USA      NaN
40  1977;USA      NaN
41  1972;USA      NaN
42  1970;USA      NaN
43  1968;USA      NaN
44  1966;USA      NaN
45  1965;USA      NaN
46  1964;AUS      NaN

In [63]:
#Usamos el método str.split para dividir en columnas los datos que residen en una misma string
campeonas[["Years","Countries"]] = campeonas["Year"].str.split(";",expand=True)
display(campeonas)

        Year  Country Years Countries
0   2019;USA      NaN  2019       USA
1   2018;AUS      NaN  2018       AUS
2   2017;AUS      NaN  2017       AUS
3   2016;AUS      NaN  2016       AUS
4   2015;USA      NaN  2015       USA
5   2014;AUS      NaN  2014       AUS
6   2013;USA      NaN  2013       USA
7   2012;AUS      NaN  2012       AUS
8   2011;USA      NaN  2011       USA
9   2010;AUS      NaN  2010       AUS
10  2009;AUS      NaN  2009       AUS
11  2008;AUS      NaN  2008       AUS
12  2007;AUS      NaN  2007       AUS
13  2006;AUS      NaN  2006       AUS
14  2005;AUS      NaN  2005       AUS
15  2003;AUS      NaN  2003       AUS
16  2002;AUS      NaN  2002       AUS
17  2001;AUS      NaN  2001       AUS
18  2000;AUS      NaN  2000       AUS
19  1999;AUS      NaN  1999       AUS
20  1998;AUS      NaN  1998       AUS
21  1997;USA      NaN  1997       USA
22  1996;USA      NaN  1996       USA
23  1995;USA      NaN  1995       USA
24  1994;USA      NaN  1994       USA
25  1993;AUS      NaN  1993       AUS
26  1992;AUS      NaN  1992       AUS
27  1991;AUS      NaN  1991       AUS
28  1990;AUS      NaN  1990       AUS
29  1989;AUS      NaN  1989       AUS
30  1988;AUS      NaN  1988       AUS
31  1987;AUS      NaN  1987       AUS
32  1986;AUS      NaN  1986       AUS
33  1985;AUS      NaN  1985       AUS
34  1984;AUS      NaN  1984       AUS
35  1982;USA      NaN  1982       USA
36  1981;USA      NaN  1981       USA
37  1980;USA      NaN  1980       USA
38  1979;USA      NaN  1979       USA
39  1978;USA      NaN  1978       USA
40  1977;USA      NaN  1977       USA
41  1972;USA      NaN  1972       USA
42  1970;USA      NaN  1970       USA
43  1968;USA      NaN  1968       USA
44  1966;USA      NaN  1966       USA
45  1965;USA      NaN  1965       USA
46  1964;AUS      NaN  1964       AUS

In [64]:
#Eliminamos las dos primeras columnas, ya que tenemos la información guardada correctamente en las siguientes después del split
campeonas.drop(["Year","Country"],axis=1,inplace = True)
display(campeonas)

   Years Countries
0   2019       USA
1   2018       AUS
2   2017       AUS
3   2016       AUS
4   2015       USA
5   2014       AUS
6   2013       USA
7   2012       AUS
8   2011       USA
9   2010       AUS
10  2009       AUS
11  2008       AUS
12  2007       AUS
13  2006       AUS
14  2005       AUS
15  2003       AUS
16  2002       AUS
17  2001       AUS
18  2000       AUS
19  1999       AUS
20  1998       AUS
21  1997       USA
22  1996       USA
23  1995       USA
24  1994       USA
25  1993       AUS
26  1992       AUS
27  1991       AUS
28  1990       AUS
29  1989       AUS
30  1988       AUS
31  1987       AUS
32  1986       AUS
33  1985       AUS
34  1984       AUS
35  1982       USA
36  1981       USA
37  1980       USA
38  1979       USA
39  1978       USA
40  1977       USA
41  1972       USA
42  1970       USA
43  1968       USA
44  1966       USA
45  1965       USA
46  1964       AUS